{% extends "tpl/layout.twig" %}
{% block content %}

<div class="" id="">
		
		<div class="col-md-offset-1">
			{% if var == null %}
	    		<h2>{{ mensaje }}</h2>
			{% endif %}
		</div>

	<h1>hola</h1>

	<table class="table table-bordered table-hover table-condensed">
				<thead>
					<tr class="danger">
						<th class="text-center"># ID</th>
						<th class="text-center">Nombre</th>
						<th class="text-center">Correo</th>
						<th class="text-center">Usuario</th>
						<th class="text-center">Codigo</th>
						<th class="text-center">Estado</th>
						<th class="text-center">Editar</th>
						<th class="text-center">Eliminar</th>
					</tr>
				</thead>

				<tbody>
					{% for ver in ver %}
						<tr class="">
				            <td class="active text-right">{{ "%02d"|format(loop.index)}}</td>
							<td class="success">{{ ver.nombre|capitalize}}</td>
							<td class="success">{{ ver.correo }}</td>
							<td class="success">{{ ver.usuario }}</td>
							<td class="success">{{ ver.codigo }}</td>
							<td class="success">{{ ver.estado }}</td>
							<td class="active text-center"><a class="btn bg-warning" href="#">Editar</a></td>
							<td class="active text-center"><a class="btn bg-danger" href="#">Eliminar</a></td>
						</tr>
					{% endfor %}
				</tbody>

			</table>
	
		<a href="{{ base_url('login/Usuarios/registro') }}" title="Deseo Registrarme">Registrarme</a>

	
	<div class="form-group">
            <p><a class="btn btn-info" href="{{ base_url() }}">Inicio</a></p>
        </div>

	<div id="mostrardatos"></div>
</div>
{% endblock %}

	