{% extends "tpl/layout.twig" %}
{% block content %}
   {% set attributes = {'id' :'frmparroquia'} %}
    {{ form_open(base_url(action), attributes) }}

<div class="form-body">

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">municipio</label>
                <select name="municipios_id" id="municipios_id" class="form-control">
                    <option value="0">Selecciona: </option>
                    {% for municipio in municipios %}
                        {% set selected = ''%}
                        {% if municipio.id == representantes.municipios_id %}
                            {% set selected = 'selected="selected"'%}
                        {% endif %}
                        <option {{selected}} value="{{municipio.id}}">{{municipio.municipio}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Parroquia</label>
                <input type="text" class="form-control" id="parroquia" name="parroquia" value="{{municipios.parroquia|default('')}}" placeholder="Parroquia:">
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-4 col-md-offset-4">
            <button style="background-color: rgba(0, 0, 200, 0)" type="button" id="guardar" class="btn btn-block">
                <img width="150" src="{{ base_url('imagenes/botonGuardar.png') }}" alt="">
            </button>
        </div>
    </div>
</div>

    {{ form_close() }}

{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#guardar').click(function(){
                if($('#parroquia').val() == ''){
                    alert('Debe ingresar la Parroquia');
                    $('#parroquia').focus();
                }else{
                    // alert('Enviar');
                    $('#frmparroquia').submit();
                }
            })
        });
    </script>
{% endblock %}




