{% extends "tpl/layout.twig" %}
{% block content %}
   {% set attributes = {'id' :'frmparroquia'} %}
    {{ form_open(base_url(action), attributes) }}
        {% if  parroquias.id %}
            {% set data = {'type':'hidden', 'name':'id', 'id' : 'id',  'value':parroquias.id|default('')} %}
            {{ form_input(data) }}
        {% endif %}

<div class="form-body">

    <div class="row">
        <div class="col-md-12"><h2>{{ titulo }} Parroquia</h2></div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">municipio</label>
                <select name="municipios_id" id="municipios_id" class="form-control">
                    <option value="0">Selecciona: </option>
                    {% for municipio in municipios %}
                        {% set selected = ''%}
                        {% if municipio.id == parroquias.municipios_id %}
                            {% set selected = 'selected="selected"'%}
                        {% endif %}
                        <option {{selected}} value="{{municipio.id}}">{{municipio.municipio}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    
        <div class="col-md-6">
            <div class="form-group">
                {% set attributes = {'class' : 'control-label'} %}
                {{ form_label('Parroquia:  <span id="msgParroquia"></span>', 'Parroquia', attributes) }}
                {% set data = {'name':'parroquia', 'id' : 'parroquia', 'class' : 'form-control ', 'placeholder':'Parroquia', 'value':parroquias.parroquia|default('')} %}
                {{ form_input(data) }}
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-4 col-md-offset-4">
            <button style="background-color: rgba(0, 0, 200, 0)" type="button" id="guardar" class="btn btn-block">
                <img width="150" src="{{ base_url('imagenes/botonGuardar.png') }}" alt="">
            </button>
        </div>
    </div>
</div>

    {{ form_close() }}

    {% set data = {'type':'hidden', 'name':'municipio_id', 'id' : 'municipio_id',  'value':parroquias.municipios_id|default('')} %}
    {{ form_input(data) }}

{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#guardar').click(function(){
                if($('#parroquia').val() == ''){
                    alert('Debe ingresar la Parroquia');
                    $('#parroquia').focus();
                }else if($('#municipios_id').val() == ''){
                    alert('Debe ingresar el Municipio');
                    $('#municipios_id').focus();
                }else{
                    // alert('Enviar');
                    $('#frmparroquia').submit();
                }
            })
        });
    </script>
{% endblock %}




