{% extends "tpl/layout.twig" %}
{% block content %}
			<a class="btn btn-success" href="{{ base_url('grados/grados/registrar') }}" title="">Registrar Grado</a><br>

		<div class="table-responsive">
			<table class="table table-bordered table-hover table-condensed">
				<thead>
					<tr class="danger">
						<th class="text-center"># ID</th>
						<th class="text-center">Grado</th>
						<th class="text-center">Editar</th>
						<th class="text-center">Eliminar</th>
					</tr>
				</thead>

				<tbody>
					{% for grados in listar %}
						<tr class="">
				            <td class="active text-right">{{ "%02d"|format(loop.index)}}</td>
							<td class="success">{{ grados.grado|capitalize}}</td>
							<td class="active text-center"><a class="btn bg-warning" href="{{ base_url('grados/grados/modificar/' ~ grados.id) }}">Editar</a></td>
							<td class="active text-center"><a class="btn bg-danger" href="{{ base_url('grados/grados/eliminar/' ~ grados.id) }}">Eliminar</a></td>
						</tr>
					{% endfor %}
				</tbody>

			</table>
				<div class="col-md-4 col-md-offset-4">
					<a class="btn-block" href="{{ base_url('grados/grados') }}">
					<img width="130" src="{{ base_url('imagenes/subir-boton.png') }}" alt=""></a>
				</div>
			</div><br>
{% endblock %}
	
