{% extends "tpl/layout.twig" %}
{% block content %}
   {% set attributes = {'id' :'frmgrado'} %}
    {{ form_open(base_url(action), attributes) }}

<div class="form-body">
    <div class="row">
        <div class="col-md-12"><h2>{{ titulo }} de Grado</h2></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Grado</label>
                    <input type="text" class="form-control" id="grado" name="grado" value="{{grados.grado|default('')}}" placeholder="Grado:">
                </div>
            </div>

        <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Año Escolar</label>
                        <select name="anios_id" id="anios_id" class="form-control">
                            <option value="0">Selecciona: </option>
                                {% for anio in anios %}
                                {% set selected = ''%}
                                {% if anio.id == anios.anios_id %}
                                    {% set selected = 'selected="selected"'%}
                                {% endif %}
                            <option {{selected}} value="{{anio.id}}">{{anio.anio}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

        <div class="col-md-12">
            <div class="col-md-4 col-md-offset-4">
                <button style="background-color: rgba(0, 0, 200, 0)" type="button" id="guardar" class="btn btn-block">
                    <img width="150" src="{{ base_url('imagenes/botonGuardar.png') }}" alt="">
                </button>
            </div>
        </div>
    </div>
</div>      
    
    {{ form_close() }}

{% endblock %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#guardar').click(function(){
                if($('#grado').val() == ''){
                    alert('Debe ingresar el grado');
                    $('#grado').focus();
                }else{
                    alert('Enviar');
                    $('#frmgrado').submit();
                }
            })
        });
    </script>
{% endblock %}